doctype html
html(lang="ko")
    include partials/head.pug
    body 
        #page-wrap(data-scroll-container)
            header
                .header-left 
                    button.hambuger-btn
                        span 
                        span 
                        span 
                    h1 
                        a(href="./index.html")
                            img(src="./images/main/logo.png", alt="logo")
                nav.header-right 
                    ul 
                        li 
                            a(href="#") Works
                        li 
                            a(href="#") About
                        li 
                            a(href="#") Recruit
                        li 
                            a(href="#") Contact
            section.intro-slide(data-scroll-section)
                ul.intro-slide-item
                    li 
                        span
                            span ui&ux
                        span 
                            span.italic design
                        span 
                            span interaction
                        span 
                            span.italic frontend
                        span 
                            span ui&ux
                        span 
                            span.italic design
                        span 
                            span interaction
                        span 
                            span.italic frontend
                    li 
                        span 
                            span creative
                        span 
                            span.italic sensibility
                        span 
                            span experence
                        span 
                            span.italic 20nyeon
                        span 
                            span creative
                        span 
                            span.italic sensibility
                        span 
                            span experence
                        span 
                            span.italic 20nyeon
                    li 
                        span
                            span dfry
                        span
                            span.italic design
                        span
                            span studio
                        span
                            span.italic agency
                        span
                            span dfry
                        span
                            span.italic design
                        span
                            span studio
                        span
                            span.italic agency
            section.intro-scroll(data-scroll-section)
                #drawing(data-scroll)
                    .intro-title-img#cont-po(
                                data-scroll
                                data-scroll-speed="-5"
                            )
                        .intro-title-img-wrap
                            img.introImg(
                                src="./images/common/intro-main.png", 
                                alt="intro-img",)
                    .intro-title-text(data-scroll data-scroll-speed="4") 
                        h2 DFRY 
                        h2 Creative 
                        h2 Studio
                        h2 DFRY 
                        h2 Creative 
                        h2 Studio
                
            section.intro-tag(data-scroll-section)
                #introTrigger2
                ul.intro-tag-wrap 
                    li
                        h2 Do you want to contact us?
                    li 
                        h2 We are waiting for you
                    li 
                        h2 Digital Design Specialist
                    li 
                        h2 Logical Thinking
    script 
        include partials/script.js
    include partials/script.pug