doctype html
html(lang="ko")
    include partials/subHead.pug
    include common/mixin.pug
    body 
        .dim
        #page-wrap.ivory.page-sub.ivory(data-scroll-container)
            include partials/subHeader
            include partials/menu
            include import/works/title
            include import/works/list
            include import/common/otherPage
            include import/common/contact
            include partials/footer
        include partials/pageMove
    script
        include partials/script.js
    include partials/subScript.pug