//- href, src, alt, h4, p, parallax
- 
    var works = [
        {
             "href"         :   "#"
            ,"src"          :   "./images/works/works-item1.png"
            ,"alt"          :   "dfry design studio"
            ,"h4"           :   "Dfry design stduio"
            ,"p"            :   "Interaction Responsive Site"
            ,"parallax"     :   false
            ,"big"          :   true
        },
        {
             "href"         :   "#"
            ,"src"          :   "./images/works/works-item2.png"
            ,"alt"          :   "samwhapapaer"
            ,"h4"           :   "Samwhapapaer"
            ,"p"            :   "Web / Mobile Site, Animation"
            ,"parallax"     :   true
            ,"big"          :   false
        },
        {
             "href"         :   "#"
            ,"src"          :   "./images/works/works-item3.png"
            ,"alt"          :   "you who"
            ,"h4"           :   "You Who"
            ,"p"            :   "Mobile Application"
            ,"parallax"     :   false
            ,"big"          :   false
        },
        {
             "href"         :   "#"
            ,"src"          :   "./images/works/works-item4.png"
            ,"alt"          :   "healthmax"
            ,"h4"           :   "Healthmax"
            ,"p"            :   "Mobile Application"
            ,"parallax"     :   true
            ,"big"          :   false
        },
        {
             "href"         :   "#"
            ,"src"          :   "./images/works/works-item5.png"
            ,"alt"          :   "waveby"
            ,"h4"           :   "Waveby"
            ,"p"            :   "Web / Mobile Site"
            ,"parallax"     :   false
            ,"big"          :   true
        },
        {
             "href"         :   "#"
            ,"src"          :   "./images/works/works-item6.png"
            ,"alt"          :   "lloyd"
            ,"h4"           :   "Lloyd"
            ,"p"            :   "web Site Design"
            ,"parallax"     :   true
            ,"big"          :   false
        },
        {
             "href"         :   "#"
            ,"src"          :   "./images/works/works-item7.png"
            ,"alt"          :   "good neigh bors"
            ,"h4"           :   "Good Neigh Bors"
            ,"p"            :   "Web Site"
            ,"parallax"     :   false
            ,"big"          :   false
        },
        {
             "href"         :   "#"
            ,"src"          :   "./images/works/works-item8.png"
            ,"alt"          :   "good neigh bors"
            ,"h4"           :   "Good Neigh Bors"
            ,"p"            :   "Web Site"
            ,"parallax"     :   true
            ,"big"          :   false
        },
        {
             "href"         :   "#"
            ,"src"          :   "./images/works/works-item9.png"
            ,"alt"          :   "round music festival"
            ,"h4"           :   "Round Music Festival"
            ,"p"            :   "Responsive Web Site"
            ,"parallax"     :   false
            ,"big"          :   true
        },
        {
             "href"         :   "#"
            ,"src"          :   "./images/works/works-item10.png"
            ,"alt"          :   "missing you"
            ,"h4"           :   "Missing You"
            ,"p"            :   "Web/Mobile Site"
            ,"parallax"     :   false
            ,"big"          :   false
        }
    ]