
@font-face{
    font-family: "circular-black";
    src: url("../fonts/CircularStd-Black_0.otf") format('opentype');
}

@font-face{
    font-family: "circular-black-italic";
    src: url("../fonts/CircularStd-BlackItalic_0.otf") format('opentype');
}

@font-face{
    font-family: "circular-bold";
    src: url("../fonts/CircularStd-Bold_0.otf") format('opentype');
}

@font-face{
    font-family: "circular-bold-italic";
    src: url("../fonts/CircularStd-BoldItalic_0.otf") format('opentype');
}

@font-face{
    font-family: "circular-book";
    src: url("../fonts/CircularStd-Book_0.otf") format('opentype');
}

@font-face{
    font-family: "circular-book-italic";
    src: url("../fonts/CircularStd-BookItalic_0.otf") format('opentype');
}

@font-face{
    font-family: "circular-medium";
    src: url("../fonts/CircularStd-Medium_0.otf") format('opentype');
}

@font-face{
    font-family: "circular-medium-italic";
    src: url("../fonts/CircularStd-MediumItalic_0.otf") format('opentype');
}

@font-face{
    font-family: "circular-regular";
    src: url("../fonts/CircularStd-Regular_0.otf") format('opentype');
}

@font-face{
    font-family: "spoqaHanSans-bold";
    src: url("../fonts/SpoqaHanSansNeo-Bold_0.ttf") format('truetype');
}

@font-face{
    font-family: "spoqaHanSans-light";
    src: url("../fonts/SpoqaHanSansNeo-Light_0.ttf") format('truetype');
}

@font-face{
    font-family: "spoqaHanSans-medium";
    src: url("../fonts/SpoqaHanSansNeo-Medium_0.ttf") format('truetype');
}

@font-face{
    font-family: "spoqaHanSans-regular";
    src: url("../fonts/SpoqaHanSansNeo-Regular_0.ttf") format('truetype');
}

@font-face{
    font-family: "spoqaHanSans-thin";
    src: url("../fonts/SpoqaHanSansNeo-Thin_0.ttf") format('truetype');
}

@font-face{
    font-family: "saoldisplay";
    src: url("../fonts/SaolDisplay-Regular_0.ttf") format('truetype');
}

@font-face{
    font-family: "NeueHaasUnica";
    src: url("../fonts/NeueHaasUnicaW1G2.otf") format('opentype');
}

@font-face{
    font-family: "NHaasGrotesk-regular";
    src: url("../fonts/NHaasGroteskTXPro-55Rg.ttf") format('truetype');
}

@font-face{
    font-family: "NHaasGrotesk-medium";
    src: url("../fonts/NHaasGroteskTXPro-65Md.ttf") format('truetype');
}

@font-face{
    font-family: "NHaasGrotesk-bold";
    src: url("../fonts/NHaasGroteskTXPro-75Bd.ttf") format('truetype');
}

@font-face{
    font-family: "apple-light";
    src: url("../fonts/AppleSDGothicNeoL.ttf") format('truetype');
}
@font-face{
    font-family: "apple-medium";
    src: url("../fonts/AppleSDGothicNeoM.ttf") format('truetype');
}
@font-face{
    font-family: "apple-hevy";
    src: url("../fonts/AppleSDGothicNeoH.ttf") format('truetype');
}
@font-face{
    font-family: "apple-semibold";
    src: url("../fonts/AppleSDGothicNeoEB.ttf") format('truetype');
}
@font-face{
    font-family: "apple-bold";
    src: url("../fonts/AppleSDGothicNeoB.ttf") format('truetype');
}