$ivory          : #f5e1d9;
$white          : #f9eae4;
$red            : #ff3c02;
$yellow         : #ecd88e;
$black          : #262626;
$gray           : #c8d0d7;

$pc-1           : 1920px;
$pc-2           : 1600px;
$pc-3           : 1280px;
$tablet-1       : 1024px;
$tablet-2       : 768px;
$mo-1           : 500px;

$inner-2560     : 8.203vw;
$inner2-2560    : 16.406vw;
$inner-1920     : 6.328vw;
$inner2-1920    : 12.656vw;
$inner-500      : 4.706vw;
$inner2-500     : 9.412vw;