section.about(data-scroll-section)
    .about-title 
        h3 
            p With more than a two decades of experience,
            p DFRY has become a leader in digital experiences,
            p web design and branding. That's not a brag, it's a promise: 
            p to deliver tomorrow's creative solutions – today.
        h3.mo 
            p With more than a two
            p decades of experience, DFRY
            p has become a leader in digital
            p experiences, web design and
            p branding. That’s not a brag,
            p it’s a promise: 
            p to deliver tomorrow’s creative
            p solutions — today.
        h4 20년 이상의 경험을 바탕으로 디프라이는 
            br.mo
            | 디지털 경험의 리더가 되었습니다.
            br.mo
            br.pc
            | 웹 디자인 및 브랜딩. 그것은 자랑이 아니라 약속입니다. 
            br.mo
            | 내일의 창의적인 솔루션을 오늘 제공합니다.
    .about-spin 
        .about-spin-wrap 
            img(src="./images/main/about-spin.png", alt="spin") 
    .about-slide 
        span 
        h3
            i(data-scroll
                data-scroll-direction="horizontal"
                data-scroll-speed="-10")  consultancy in korea.
        span 
        h3
            i(data-scroll
                data-scroll-direction="horizontal"
                data-scroll-speed="10")  we are ux design we are ui design
        span 
    .about-subTitle 
        .about-subTitle-left 
            p That's the value we are seeking for 
                br.mo
                | 20 years.
            p 디프라이는 디자인과 개발 전문회사
                br
                | 20년간의 경험을 바탕으로 2018년 07월에 설립하여 전략 수립과 디자인 그리고 개발까지
                br
                | 쓸모있는 경험을 만들어 낼 수 있는 프로페셔널 에이전시입니다.
        .about-subTitle-right 
            p 00 - 21 &copy;
    .about-subContent  
        .about-subContent-left(data-scroll data-scroll-speed="0")
            h2 Creative 
            h2 Design –
            h2 Company
        .about-subContent-right
            a(href="#")
                i 
                i
                .about-link 
                    .about-link-img 
                        img(src="./images/icon/ico-aboutLink.png", alt="link")
                        img(src="./images/icon/ico-aboutLink2.png", alt="link")
                    p 디자인 스튜디오 디프라이에
                        br
                        | 대해서 궁금하세요?