section.inquiry(data-scroll-section)
    .support-wheel#cont-road
        div(data-scroll data-scroll-sticky data-scroll-target="#cont-road")
            .wheel
                div 
                    span p
                    span r
                    span o
                    span j 
                    span e 
                    span c
                    span t 
                    span 
                    span r 
                    span e 
                    span q 
                    span u 
                    span e
                    span s 
                    span t 
                    span 
                    span p
                    span r
                    span o
                    span j 
                    span e 
                    span c
                    span t 
                    span 
                    span r 
                    span e 
                    span q 
                    span u 
                    span e
                    span s 
                    span t 
                    span 
    .inquiry-title 
        h3 
            span Don't be
            span a stranger – say hello.
            span 
                a(href="mailto:info@dfry.co.kr")
                    span info@dfry
                    |.
                    span co
                    |.
                    span kr
        p 실력과 신뢰를 겸비한 IT파트너를 만들어보세요. 
    .inquiry-link 
        a(href="#") 
            span 프로젝트 문의
            .inquiry-link-hover 
                .inquiry-link-img 
                    img(src="./images/icon/ico-inquiryLink.png", alt="link")
                    img(src="./images/icon/ico-inquiryLink2.png", alt="link")
                p 우리와 함께
                    br
                    | 프로젝트를 시작해보세요.