section.intro(data-scroll-section)
    .intro-slide 
        ul 
            li.active
                span.intro-slide-line
                h2.hide 
                    p Dfry – Design – Studio
                    p Dfry – Design – Studio
                    p Dfry – Design – Studio
                    p Dfry – Design – Studio
                    p Dfry – Design – Studio
                    p Dfry – Design – Studio
                span.intro-slide-line
                h2.hide 
                    p Digital Agency
                    p Digital Agency
                    p Digital Agency
                    p Digital Agency
                    p Digital Agency
                    p Digital Agency
                span.intro-slide-line
                h2.hide.intro-slide-content
                    p Interaction Site
                    p Interaction Site
                    p Interaction Site
                    p Interaction Site
                    p Interaction Site
                    p Interaction Site
                span.intro-slide-line
            li
                h2.hide 
                    p Samwhapaper
                    p Samwhapaper
                    p Samwhapaper
                    p Samwhapaper
                    p Samwhapaper
                    p Samwhapaper
                h2.hide 
                    p Paper – making
                    p Paper – making
                    p Paper – making
                    p Paper – making
                    p Paper – making
                    p Paper – making
                h2.hide.intro-slide-content
                    p Interaction Site
                    p Interaction Site
                    p Interaction Site
                    p Interaction Site
                    p Interaction Site
                    p Interaction Site
            li
                h2.hide 
                    p Waveby
                    p Waveby
                    p Waveby
                    p Waveby
                    p Waveby
                    p Waveby
                h2.hide 
                    p Fashion – Curator – Platform
                    p Fashion – Curator – Platform
                    p Fashion – Curator – Platform
                    p Fashion – Curator – Platform
                    p Fashion – Curator – Platform
                    p Fashion – Curator – Platform
                h2.hide.intro-slide-content
                    p Responsive Web
                    p Responsive Web
                    p Responsive Web
                    p Responsive Web
                    p Responsive Web
                    p Responsive Web
            li.intro-spin-wrap
                h2 
                h2 
                h2.pc
                button.intro-spin 
                    .bg
                    span 
                    i 
    .intro-img.swiper-container 
        .swiper-wrapper
            .swiper-slide 
                img(src="./images/main/intro/intro-img1.png", alt="intro-img")
                .swiper-slide-img.intro-img-wrap1.mo
            .swiper-slide 
                img.samwhapaper(src="./images/main/intro/intro-img2.png", alt="intro-img")
                .swiper-slide-img.intro-img-wrap2.mo
            .swiper-slide 
                img(src="./images/main/intro/intro-img3.png", alt="intro-img")
                .swiper-slide-img.intro-img-wrap3.mo
    .intro-box
        div 
        div 
        div 
    .intro-number
        span 01
        span.intro-loading
            span.intro-loading-active.loading
        span 