section.loading.active
    ul 
        li 
            .loading-number.show
                span 0
                span  – 
                span 100
            span.wrap1.show
                span.text1.hide dfry
        li 
            span.wrap2.show
                span.text2.hide creative 
        li
            span.wrap3.show
                span.text3.hide design 
            span.wrap4.show
                span.text4.hide company
        p.show That's the value we are 
            br
            | seeking for 20 years.