section.service.ivory(data-scroll-section)
    .service-title 
        h2 Our Service
        span 
    .service-wrap 
        .service-left
            .service-spin 
                img.service-spin-text(src="./images/main/service-spin.png", alt="service-spin")
                img.service-spin-text(src="./images/main/service-spin2.png", alt="service-spin")
                img.service-spin-smail(src="./images/main/service-spin-smail.png", alt="service-spin-smail")
                img.service-spin-smail(src="./images/main/service-spin-smail2.png", alt="service-spin-smail")
        .service-right 
            ul 
                li 
                    h3 Design 
                    h4 Identity Design, Interactive Design, Visual Design, UI / UX Design 
                    p 우리는 차별화되고 훌륭한 퀄리티 유지를 위해 디자인을 전공한 아트디렉터가 프로젝트를 책임지고 총괄합니다.
                li 
                    h3 Strategy 
                    h4 Brand Strategy, Content Strategy, Digital Strategy, Digital Strategy, UI / UX Strategy 
                    p 우리는 항상 새로움에 도전합니다.
                        br
                        | 생각을 현실로 만드는 통찰력이 디프라이 전략 제시의 핵심입니다.
                li 
                    h3 Develop
                    h4 PC & Mobile Web, Responsive Web, Global Platform
                    p 우리는 풍부한 경험과 기술을 바탕으로 안정적인 구축 디프라이의 자부심입니다.
                li 
                    h3 Management
                    h4 Segmentation & Targeting, Brand Marketing, Content Marketing
                    p 우리는 단순한 유지운영을 넘어 먼저 준비하고 주도하는 실행 파트너, 디프라이입니다. 