section.works(data-scroll-section)
    .works-title(data-scroll
            data-scroll-direction="horizontal"
            data-scroll-speed="-10") 
        h2 works
    .works-slide
        span.works-slide-line1
        .works-slide-text(data-scroll
                            data-scroll-direction="horizontal"
                            data-scroll-speed="10")
            h3 experience –
            h3 20 years –
            h3 experience –
            h3 20 years 
        span.works-slide-line2
    .works-list
        ul.works-list-grid
            li.works-list-item
                button.works-down-btn(data-scroll data-scroll-speed="2")
                    i 
                    i 
            li.works-list-item 
                a(href="#") 
                    .works-list-img
                        .works-list-bg
                        .works-list-img-wrap.-default
                            img(src="./images/main/works/works-01.png", alt="project-thumbnail")
                    .works-list-text 
                        .works-list-desc(data-scroll data-scroll-delay="0.2")
                            h4 Dfry design studio 
                            p Interaction Responsive Web Site 
                        i(data-scroll data-scroll-delay="0.2")
                        span(data-scroll)
            li.works-list-item.works-parallax(data-scroll data-scroll-speed="2")
                a(href="#") 
                    .works-list-img 
                        .works-list-bg
                        .works-list-img-wrap.-center
                            img(src="./images/main/works/works-02.png", alt="project-thumbnail")
                    .works-list-text 
                        .works-list-desc(data-scroll data-scroll-delay="0.2")
                            h4 Samwhapaper
                            p Web / Mobile Site, Animation 
                        i(data-scroll data-scroll-delay="0.2")
                        span(data-scroll)
            li.works-list-item
                a(href="#") 
                    .works-list-img.hidden
                        .works-list-bg
                        .works-list-img-wrap.-hidden
                            img(src="./images/main/works/works-03.png", alt="project-thumbnail")
                    .works-list-text 
                        .works-list-desc(data-scroll data-scroll-delay="0.2")
                            h4 You Who
                            p Mobile Application 
                        i(data-scroll data-scroll-delay="0.2")
                        span(data-scroll)
            li.works-list-item.works-parallax(data-scroll data-scroll-speed="2")
                a(href="#") 
                    .works-list-img.hidden 
                        .works-list-bg
                        .works-list-img-wrap.-hidden
                            img(src="./images/main/works/works-04.png", alt="project-thumbnail")
                    .works-list-text 
                        .works-list-desc(data-scroll data-scroll-delay="0.2")
                            h4 Healthmax 
                            p Mobile Application
                        i(data-scroll data-scroll-delay="0.2")
                        span(data-scroll)
            li.works-list-item 
                a(href="#") 
                    .works-list-img 
                        .works-list-bg
                        .works-list-img-wrap.-default.-big
                            img(src="./images/main/works/works-05.png", alt="project-thumbnail")
                    .works-list-text 
                        .works-list-desc(data-scroll data-scroll-delay="0.2")
                            h4 Waveby
                            p Web / Mobile Site
                        i(data-scroll data-scroll-delay="0.2")
                        span(data-scroll)
            li.works-list-item.works-parallax(data-scroll data-scroll-speed="2")
                a(href="#") 
                    .works-list-img 
                        .works-list-bg
                        .works-list-img-wrap.-right
                            img(src="./images/main/works/works-06.png", alt="project-thumbnail")
                    .works-list-text 
                        .works-list-desc(data-scroll data-scroll-delay="0.2")
                            h4 Lloyd
                            p web Site Design
                        i(data-scroll data-scroll-delay="0.2")
                        span(data-scroll)
            li.works-list-item 
                a(href="#") 
                    .works-list-img 
                        .works-list-bg
                        .works-list-img-wrap.-default.-big.-moSmall
                            img(src="./images/main/works/works-07.png", alt="project-thumbnail")
                    .works-list-text 
                        .works-list-desc(data-scroll data-scroll-delay="0.2")
                            h4 Good Neighbors 
                            p Web Site
                        i(data-scroll data-scroll-delay="0.2")
                        span(data-scroll)
            li.works-more-btn(data-scroll data-scroll-speed="1")
                a(href="#") 
                    span more
                    .works-more-link
                        img(src="./images/icon/ico-worksLink.png", alt="link")
                        p 우리들의 더 많은 프로젝트 결과물을
                            br
                            | 확인해보세요.