footer(data-scroll-section)
    span 
    .foot-text
        p All Rights Reserved 
        ul.foot-sns
            li 
                a(href="#") 
                    i 
            li 
                a(href="#") 
                    i 