header
    h1.logo
        a(href="./index.html")
            img(src="./images/common/logo.svg", alt="logo")
            img(src="./images/common/logo-w.svg", alt="logo")
        a.mo(href="./index.html")
            img(src="./images/common/logo-mo.png", alt="logo") 
            img(src="./images/common/logo-mo-w.png", alt="logo") 
    nav
        ul.gnb  
            li 
                a(href="./works.html") 
                    span Works
                    span Works
            li 
                a(href="#") 
                    span About
                    span About
            li 
                a(href="#") 
                    span Recruit
                    span Recruit
            li 
                a(href="#") 
                    span Contact
                    span Contact
        button.hambuger-open-btn
            span 
            span 
            span 