.hambuger-menu 
    .menu-left 
        ul 
            li 
                span Address
                p 1F, 4-1, Jinheung-ro 1-gil, Eunpyeong-gu, 
                    br
                    |Seoul, Republic of Korea
            li 
                span E-mail
                p 
                    a(href="mailto:info@dfry.co.kr") 
                        span info@dfry
                        | .
                        span co
                        | .
                        span kr 
            li 
                span Phone
                p 02.6925.0013
        ul 
            li 
                a(href="#")
                    i  
            li 
                a(href="#")
                    i  
    .menu-right.swiper-container.menu-content
        ul.swiper-wrapper
            li.swiper-slide
                a(href="#") 
                    span soon    
                    | contact 
            li.swiper-slide 
                a(href="#") home
            li.swiper-slide 
                a(href="#") 
                    span soon 
                    | works
            li.swiper-slide 
                a(href="#") 
                    span soon 
                    | about
            li.swiper-slide 
                a(href="#") 
                    span soon 
                    | recruit