section.contact(data-scroll-section)
    .contact-title(
                    data-scroll 
                    data-scroll-direction="horizontal"
                    data-scroll-speed="-10"
                )
        h2 contact
    .contact-slide 
        span.contact-slide-line1 
        h3 
            i We collaborate with ambitious brands and people.
            i We collaborate with ambitious brands and people.
            i We collaborate with ambitious brands and people.
        span.contact-slide-line2 
    .contact-content 
        .contact-content-left 
            a(href="#") Get in touch
        .contact-content-right 
            ul 
                li 
                    span Address
                    p 1F, 4-1, Jinheung-ro 1-gil, Eunpyeong-gu 
                        br
                        | Seoul, Republic of Korea
                li 
                    span Phone
                    p 02.6925.0013
                li 
                    span Email
                    p info@dfry.co.kr
            ul.mo 
                li 
                    .contact-content-text 
                        .contact-text
                            span Phone 
                            p 02.6925.0013 
                        .contact-text 
                            span Email 
                            p info@dfry.co.kr
                li 
                    .contact-content-text 
                        .contact-text2
                            span Address
                            p 1F, 4-1, Jinheung-ro 1-gil, Eunpyeong-gu 
                                br
                                | Seoul, Republic of Korea

            .contact-content-sns 
                ul 
                    li 
                        a(href="#")
                            i  
                    li 
                        a(href="#")
                            i  