section.otherPage(data-scroll-section)
    .otherPage-title(data-scroll)
        span.title-line 
        p Explore more
    a(href="#")
        | ABOUT—
        span ABOUT
        | —ABOUT—
        span ABOUT
        | —ABOUT—
        span ABOUT
        | —ABOUT—
        span ABOUT
        | —ABOUT—
        span ABOUT
        | —ABOUT—
        span ABOUT
        | —ABOUT—
        span ABOUT
        | —ABOUT—
        span ABOUT
        | —ABOUT—
        span ABOUT
        | —ABOUT—
        span ABOUT
        | —ABOUT—
        span ABOUT
        | —