@import "../../../common/mixin";
@import "../../../common/variable";

.works-title{
    width: 100vw;
    position: relative;
    margin-bottom: 5.977vw;

    .title-text{
        padding: 10.156vw 0 0 #{$inner-2560};
        margin-bottom: 6.055vw;
        
        h2{
            font-size: 6.797vw;
            font-family: "NHaasGrotesk-regular";
            font-weight: 400;
            line-height: 0;
            color: $red;
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            margin-bottom: 2.734vw;

            span{
                padding: 2.539vw 0;
                margin-bottom: 1.953vw;
                opacity: 0;
                animation: fadeIn-up 0.5s 1s ease forwards;

                &:first-child{
                    margin-left: 8.594vw;
                    animation: fadeIn-up 0.5s 0.75s ease forwards;
                }
            }
        }
        p{
            font-size: 1.016vw;
            font-family: "apple-medium";
            font-weight: 400;
            color: $red;
            line-height: 1.406vw;
            opacity: 0;
            animation: fadeIn-up 0.5s 1.25s ease forwards;
        }
    }
    .title-slide{
        width: calc(100vw - #{$inner2-2560});
        margin: 0 auto;
        position: relative;
        
        .title-slide-bar{
            width: 0;
            height: 1px;
            background-color: $red;
            position: absolute;
            top: 0;
            left: 0;
            transition-duration: 0.75s;
            transition-timing-function: cubic-bezier(.215,.61,.355,1);
            transition-delay: 1.25s;

            &:last-child{
                transition-duration: 0.75s;
                transition-timing-function: cubic-bezier(.215,.61,.355,1);
                transition-delay: 1.5s;
                position: absolute;
                top: auto;
                left: auto;
                right: 0;
                bottom: 0;
            }
        }
        
        h2{
            font-size: 5.469vw;
            font-family: "NHaasGrotesk-regular";
            font-weight: 400;
            color: transparent;
            -webkit-text-stroke: 1px $red;
            line-height: 0;
            padding: 3.711vw 0;
            white-space: nowrap;
            animation: introSlideText 30s linear infinite;
        }
        &.is-inview{
            .title-slide-bar{
                width: 100%;
            }
        }
    }
}