@import "../../common/variable";

.popup{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 73px;
    background-color: rgba($color: #000000, $alpha: 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: fadeIn-up 0.5s 6s ease forwards;
    display: none;

    p{
        font-size: 18px;
        font-family: "apple-medium";
        color: $white;
        margin: 0 15px;
    }
    button{
        background-color: $red;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-family: "apple-medium";
        color: $white;
        width: 90px;
        height: 35px;
        transition: 0.5s ease;

        &:hover{
            opacity: 0.5;
        }
    }

    &.hide{
        bottom: -73px;
    }
}