section.works-title(data-scroll-section)
    .title-text
        h2 
            span featured
            span works 
        p 단순 제작만이 아닌
            br
            | 기업의 정체성과 효과적인 마케팅 방안을 제시해 드립니다.
    .title-slide(data-scroll)
        span.title-slide-bar 
        h2 EXPERIENCE – 20 YEARS – EXPERIENCE – 20 YEARS – EXPERIENCE – 20 YEARS – EXPERIENCE – 20 YEARS – EXPERIENCE – 20 YEARS – EXPERIENCE – 20 YEARS 
        span.title-slide-bar